<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>WELCOME TO DEMUS MAYOR</title>
</head>

<body>

		<div>
		
				<div style="width:994px; height:600px; margin-left:auto; margin-right:auto; background-image:url(https://demus-mayor.s3-us-west-2.amazonaws.com/welcomeBg.jpg); background-position:center; margin-top:5%;">
				<div style="position:absolute;">
				<div style="margin-top:10%; margin-left:5%; "><br /><img src="https://demus-mayor.s3-us-west-2.amazonaws.com/logo.png" width="130" height="130" /></div>
				
				<div style="height:200px;">
						<div style='font-size:27pt; font-family:"Segoe UI Light","Tw Cen MT",  "Trebuchet MS", "Tw Cen MT Condensed", "Tw Cen MT Condensed Extra Bold"; color:#FFFFFF; margin-left:3.5%; margin-top:5%;'>Welcome to <span style="font-size:31px; font-weight:bold; text-shadow:#666666 1px 1px 1px 1px; "></span></div>
						
						<div style='line-height:150%;font-size:11pt; font-family:"Segoe UI Light", "Tw Cen MT",  "Trebuchet MS", "Tw Cen MT Condensed", "Tw Cen MT Condensed Extra Bold";  color:#FFFFFF; margin-left:3.5%; margin-top:3%; font-weight:bold; '>
						Dear ${user.name}<br /><br/>
						<p style="margin:0;padding-bottom:1em">Welcome to ${appName}, Nigeria's first Digital Retail Mobile Platform!</p>
                        <p style="margin:0;padding-bottom:1em">Retail and Top-up airtime directly on your mobile phone.<p>A confirmation email will follow shortly so that we know this address is active. Please click on the link in the email to activate your account. </p></p>
                        <p style="margin:0;padding-bottom:1em;text-align: justify;"> <strong>Thank you for choosing Demus Mayor</strong></p>
                        <br/><br/>
						</div>
				
				</div>
						
						
						<div style="margin-top:10%; margin-left:3.5%; padding-top:15px;">
						
						<a href="http://www.facebook.com/eclevermobile" target="_blank" style="word-wrap:break-word;color:#15C;font-weight:normal;text-decoration:underline">
							<img src="https://demus-mayor.s3-us-west-2.amazonaws.com/facebook.png" width="32" height="33" />
						</a>						
						
						<a href="http://www.linkedin.com/eclevermobile" target="_blank" style="word-wrap:break-word;color:#15C;font-weight:normal;text-decoration:underline">
							<img src="https://demus-mayor.s3-us-west-2.amazonaws.com/linkedin.png" width="32" height="33" />		
						</a>				
						 
						<a href="http://www.linkedin.com/eclevermobile" target="_blank" style="word-wrap:break-word;color:#15C;font-weight:normal;text-decoration:underline">
							<img src="https://demus-mayor.s3-us-west-2.amazonaws.com/twitter.png" width="32" height="33"/>		
						</a>				
						 
						<!-- 
							 <img src="ytub.png" width="32" height="33"  />							
						 
							 <img src="instagram.png" width="32" height="33"  />
						-->		
						</div></div>
				</div>
		
		</div>

</body>
</html>
